.sliderContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.slider {
    width: 90%;
}

@media (max-width: 1366px) {
    .slider {
      width: 80%;
    }
}