.footerContainer {
  background-color: var(--primary-color);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footerLogo {
  width: 8rem;
}

.iconContainer {
  display: flex;
  gap: 1rem;
}

.footerIcon {
  color: var(--secondary-color);
}

@media (max-width: 1370px) {
  .footerLogo {
    width: 6rem;
  }
}

@media (max-width: 300px) {
  .iconContainer {
    gap: 0rem;
  }
}
