.navbarContainer {
  background-color: var(--primary-color);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbarLogo {
  width: 8rem;
}

.customAutocomplete {
  background-color: var(--secondary-color);
  border-radius: 5px;
  width: 20rem;
}

@media (max-width: 1300px) {
  .navbarLogo {
    width: 6rem;
  }
}

@media (max-width: 600px) {
  .customAutocomplete {
    width: 16rem;
  }
}

@media (max-width: 400px) {
  .customAutocomplete {
    width: 10rem;
  }
}

@media (max-width: 300px) {
  .customAutocomplete {
    width: 8rem;
  }
}