.navbarContainer {
  width: 100%;
  background-color: var(--primary-color);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbarLogo {
  width: 8rem;
}

.navigation {
  display: flex;
  gap: 1rem;
  flex-grow: 1; /* Allow the navigation to grow */
  justify-content: flex-end;
}

.allMoviesButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 10rem;

  border: solid;
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 1.6rem;
  color: var(--text-color);
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}

.allMoviesButton:hover {
  border-color: var(--text-color);
  color: var(--text-color);
}

.customAutocomplete {
  background-color: var(--secondary-color);
  border-radius: 5px;
  width: 20rem;
}

@media (max-width: 1370px) {
  .navbarLogo {
    width: 6rem;
  }
}

@media (max-width: 600px) {
  .customAutocomplete {
    width: 16rem;
  }
}

@media (max-width: 400px) {
  .customAutocomplete {
    width: 10rem;
  }
}

@media (max-width: 300px) {
  .customAutocomplete {
    width: 8rem;
  }
}