:root {
  --primary-color: #F0131E;
  --secondary-color: #DBDBDB;
  --text-color: #000000;
  --hover: #ffffff;

  --font-mono: "Roboto", "Helvetica";
}

/* .light-mode {
  --primary-color: #c9c9d5;
    --secondary-color: #dcdcdd;
    --background-details: #babad6;
    --primary-text-color: #030318;
    --secondary-text-color: #010f4d;
    --button-color: #028090;
    --secondary-button-color: #028090;
    --hover: #000000;
    --scroll: #95979b;
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}