@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --primary-color: #F0131E;
  --secondary-color: #DBDBDB;
  --text-color: #000000;
  --hover: #ffffff;

  --font-mono: 'Roboto', Trebuchet MS, Helvetica, Arial, sans-serif;
}

body {
  font-family: var(--font-mono);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}